body{
    background-image: linear-gradient(#232931 ,#0f0f0f);
    /* font-family: cursive; */
    background-color: #232931;
    /* background-image: url(https://images.unsplash.com/photo-1509978778156-518eea30166b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2030&q=80) */

    /* background-size: contain; */
    background-repeat: no-repeat;  
    overflow-x: hidden;
    min-height: 1000px;
    border-left: 0;
    padding-left: 0%;
    /* overflow-y: hidden; */
}
#nav{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: -19px;
    left: -8px;
    /* display: inline; */
    height: fixed;
    /* border: 2px solid; */
    width: 150%;
    display: block;
    background-color: #4ECCA3;
    box-shadow: 4px 4px 18px #000000 ;
}

#oulog{
    position: absolute  ;
    top: 2px;
    height: 7vh;
}

.int{
    position: relative;
    /* box-shadow: 4px 4px 18px #000000 ; */
    top: 15px;
    left: 7vw;
}
.passe{
    
    height: 10vh ;
    background-color: #acd6c98f;
    padding: 10px;
    
    flex-basis: calc(23.33% - 20px); 
  margin: 10px;
  
   transition: 0.25s linear;
   box-shadow: 4px 4px 18px #000000 ;

   border-radius: 56px;
}
#uss{
    position: relative;
    /* left: 50px; */
}
#add
{   
    /* display: inline; */
    position: relative;
    /* left: 455px; */
    padding-left: 15px; 
    padding-right: 15px; 
    width: 25px;
    border-radius: 10%;
    top: 35%;
    left: 23%;
    height: 45px;
    background-color: #acd6c93d;
    color: aliceblue;
    font-size: 45px;
    transition: linear 0.1s;
    box-shadow: 4px 4px 18px #000000 ;
}
#add:hover {
    transform: scale(1.2); 
    color: black;
    background-color: #acd6c98f;
}
#ad{
    color: aliceblue;
    text-decoration: none;
}

.pass{
    position: relative;
    left: 42.5%;
    top: 29vh;
   display: block;
   height: 35vh;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 15vw;
    background-color: #0e1416d6;
    transition: linear 0.5s;
    border-radius: 50px;
    transform: scale(0);
    transform: translate(79vw);
    z-index: 99;
    box-shadow: 4px 4px 18px #000000 ;

}
#box
{
    transform: scale(0);
}
.entry{
    background-color: #4ecca260;
    color: #000000;
    position: relative;
    outline: none;
    left: 15%;
    width: 10vw;
}
#ss
{   color: #000000;
    position: relative;
    top: -50px;
}
#pp
{   
    color: #000000;
    position: relative;
    top: -10px;
}
.butts
{  
   position: relative;
   width: 8.5vw;
   left: 22%;

}
#sub{
    position: relative;
    top: 20px;
}

#gen{
    position: relative;
    top: 50px;
}

.entry{
    color: aliceblue;
    background-color: #E7F6F2;
    border-radius: 15px;
}

.butts{
   background-color: #494f4b;
    color: rgb(255, 255, 255);
}


.passe:hover{
    transform: scale(1.2);
    z-index: 1;

}

#main{
    position: relative;
    top: -230px;
    left: 1.5vw;
    /* border: 2px solid; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* justify-content: space-between; */
}
#cred{
    position: relative;
    /* top: 240px; */
    /* left: 450px; */
}

#plus {
    /* justify-content: left; */
    /* top: 50%; */
    display: flex;
    /* position: relative; */
    /* left: 23%; */
    height: 10vh;
    flex-basis: calc(23.33% - 20px); /* Adjust the width based on the number of boxes you want in a row */
    margin: 10px;
    /* border: 2px solid black; */
}

.pppp{
    filter:blur(4px) ;
}
.pppp:hover
{
    filter: blur(0px);
}

#logo{
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 56px;
    background-position: center;
    /* align-self:last baseline; */
    height:12.1vh;
    background-color: aliceblue;
    /* border: 2px solid; */
    width: 6vw;
    box-shadow: 4px 4px 28px #000000 ;
    position: relative;
    left: 75%;
    top: -115%;
}

 #good{
position: absolute;
top: 540px;
left: 1710px;
 }
#good:hover{
    top: 520px;
    left: 1700px;
}

.note{
    color: #8ebaa9;
    position: relative;
    top: 40px;
    left: 60px;
    font-size: smaller;
}

#sep{
   border-color: #EEEEEE;
   box-shadow: 8px 8px 28px #ffffff ;
}


.ccc{
    color: #4ECCA3;
    position: relative;
    left: 145px;
    /* text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff ; */
    
}
/* #cre{

    position: relative;
    left: 45px;
} */

#del{
    z-index: 0;
    text-decoration: none;
    position:relative ;
    left: 60%;
    top: 45%;
    background-color: rgba(255, 0, 0, 0.402);
    /* border: 0.5px solid black; */
    transition: 0.1s linear;
    box-shadow: 4px 4px 18px #000000 ;
    /* border-radius: 35px; */
    color: rgb(255, 255, 255);
}
#del:hover{
     color: rgb(0, 0, 0);
    /* background-color: brown; */
}


#logut{
    justify-content: center;
    align-items: center;
    background-color: #232931;
    position: relative;
    left: 85vw;
    top: -2vw;
    /* border: .2px solid black; */
    width: 4vw;
    border-radius: 15px;
    transform: scale(1.5);
    transition:ease-in-out .1s;
    box-shadow: 4px 4px 18px #000000 ;
    transform-origin: left;
}
#logut:hover{
    
    top: -2.2vw;
    /* transform: translateY(110%); */
}

#me{
height: 24vh;
/* box-shadow: 4px 4px 18px #ffffff ; */

}
#me:hover{
    height: 26vh;
}
#logu
{
    position: relative;
    left: 28%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
    
}



#sit{
    position: relative;
    top: -20%;
    left: 54px;
    color: #000000;
}
.pppp{
    position: relative;
    left: 54px;
}