{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'password.css' %}">
</head>

<body>
    <div id="nav">

        <img id="oulog" src="{% static 'finlogblack.png' %}" alt="">
        <h1 id="wel" class="int">Welcome, {{em }}</h1>
        <div id="uss" class="int">
            {% if val %}

            <div id="logut"><a id="logu" href="{% url 'logu' val=val%}">Logout</a></div>

            {% endif %}
        </div>
    </div>
    <div class="pass" id="box">
        <form action="{% url 'saved' em=em val=val %}" method="POST">
            {% csrf_token %}
            <input name="site" type="text" id="ss" class="entry" placeholder="Enter website domain(instagram.com)">
            <input name="password" type="password" id="pp" class="entry" placeholder="Enter password">
            <input type="submit" value="Submit" class="butts" id="sub">
            <!-- <input type="button" value="Generate" class="butts" id="gen"> -->
            <p class="note"><b>Note:To generate a strong password</b></p>
            <p class="note"><b>leave the password field empty</b></p>
        </form>
    </div>

    <div id="main">
        {% for obj in passes %}
        <div class="passe">
            <a href="{% url 'dela' em=em val=val ste=obj.ste %}" id="del" method="POST">Remove</a>
            <h2 id="sit" style="z-index: 1;">{{obj.ste}}</h2>
            <p class="pppp">

                {{ obj.password }}
                <!-- {{obj.logo}} -->

            </p>
            <div id="logo" style="background-image: url({{obj.logo}});"></div>
        </div>
        {% endfor %}
        <div id="plus">
            <div id="add"> <a id="ad" href="#">+</a></div>

        </div>
        <!-- <div id="cred">
            <h1 class="ccc" id="cre">About the developer:</h1>
            <h2 class="ccc" id="st">Hi, I am Shashwat</h2>
            <h3 class="ccc" id="li"><a href="">Linkedin</a></h3>
        </div> -->
        <div id="good"><a href="https://www.linkedin.com/in/shashwat-tripathi-145203220/"><img id="me"
                    src="{% static 'bropp.png' %}" alt=""></a>
            <hr id="sep">
        </div>
    </div>

    <script src="{% static 'password.js' %}"></script>
</body>

</html>